name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker"]
    types: [ "completed" ]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${KUBE_CONFIG_DATA}" | base64 -d > $HOME/.kube/config
        env:
          KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}

      - name: Set variables
        run: |
          if [ -z "${K8S_NAMESPACE}" ]; then
            echo "NAMESPACE=default" >> $GITHUB_ENV
          else
            echo "NAMESPACE=${K8S_NAMESPACE}" >> $GITHUB_ENV
          fi
        env:
          K8S_NAMESPACE: ${{ secrets.K8S_NAMESPACE }}

      - name: Create namespace if not exists
        run: |
          kubectl get ns $NAMESPACE || kubectl create ns $NAMESPACE

      - name: Apply base manifests
        run: |
          for f in service prometheus-deployment grafana-deployment nginx-deployment nginx-service prometheus-config; do
            kubectl apply -n $NAMESPACE -f k8s/$f.yaml || true
          done

      - name: Apply app deployment
        run: |
          kubectl apply -n $NAMESPACE -f k8s/deployment.yaml

      - name: Update image to latest
        run: |
          kubectl set image deployment/monitor monitor=${DOCKERHUB_USERNAME}/monitor:latest -n $NAMESPACE
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

      - name: Wait rollout
        run: |
          kubectl rollout status deployment/monitor -n $NAMESPACE --timeout=120s

      - name: Debug info
        run: |
          kubectl get pods -o wide -n $NAMESPACE
          kubectl get svc -n $NAMESPACE