name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["CI - Build & Push Docker"]
    types: [ "completed" ]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set variables
        id: vars
        run: |
          echo "IMAGE=tymoshi/monitor" >> $GITHUB_ENV
          echo "TAG_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
          if [ -z "${{ secrets.K8S_NAMESPACE }}" ]; then
            echo "NAMESPACE=default" >> $GITHUB_ENV
          else
            echo "NAMESPACE=${{ secrets.K8S_NAMESPACE }}" >> $GITHUB_ENV
          fi

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $HOME/.kube/config

      - name: Create namespace if not exists
        run: |
          kubectl get ns $NAMESPACE || kubectl create ns $NAMESPACE

      - name: Apply base manifests
        run: |
          for f in service prometheus-deployment grafana-deployment nginx-deployment nginx-service prometheus-config; do
            kubectl apply -n $NAMESPACE -f k8s/$f.yaml || true
          done

      - name: Apply app deployment
        run: |
          kubectl apply -n $NAMESPACE -f k8s/deployment.yaml

      - name: Update image to new tag
        run: |
          kubectl set image deployment/monitor monitor=$IMAGE:$TAG_SHA -n $NAMESPACE

      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/monitor -n $NAMESPACE --timeout=120s

      - name: Debug info
        run: |
          kubectl get pods -o wide -n $NAMESPACE
          kubectl get svc -n $NAMESPACE
